<div class="tabs jumbotron">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all"><i class="far fa-clipboard"></i></label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming"><i class="far fa-comments"></i></label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design"><i class="far fa-heart"></i></label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <% if @user.posts.any? %>
              <%= render @posts %>
            <% else %>
            <p class="c-txtsp">まだ投稿がありません</p>
            <% end %>
            <div class="row">
              <div class="col-lg-12">
                <%= will_paginate @posts, renderer: BootstrapPagination::Rails,
                previous_label: '&nbsp;前', next_label: '次',
                inner_window: 1, outer_window: 0 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <% if @user.reviews.any? %>
              <%= render partial: 'shared/review', collection: @reviews %>
            <% else %>
              <p class="c-txtsp">まだレビューを投稿していません</p>
            <% end %>
            <div class="row">
              <div class="col-lg-12">
                <%= will_paginate @reviews, renderer: BootstrapPagination::Rails,
                previous_label: '&nbsp;前', next_label: '次',
                inner_window: 1, outer_window: 0 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <% if @user.likes.any? %>
              <%= render @likes %>
            <% else %>
              <p class="c-txtsp">いいねした投稿がありません</p>
            <% end %>
            <div class="row">
              <div class="col-lg-12">
                <%= will_paginate @likes, renderer: BootstrapPagination::Rails,
                previous_label: '&nbsp;前', next_label: '次',
                inner_window: 1, outer_window: 0 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
