<% provide(:title, '新規登録') %>
  <div class="container">
    <div class="signup-form">
      <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <h1>新規登録</h1>
        </div>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :名前 %>
          <%= f.text_field :name, class: 'form-control', :placeholder => "例)タイハムスター" %>

          <%= f.label :メールアドレス %>
          <%= f.email_field :email, class: 'form-control', :placeholder => "例)example@google.com" %>

          <%= f.label :プロフィール画像 %>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "image", style: "display:none;", id: "file"%>
          <div class="w-100">
            <label class="btn btn-file-upload" for="file"><i class="fas fa-plus fa-lg"></i><i class="far fa-images fa-2x"></i>
          </div>

          <%= f.label :パスワード %>
          <%= f.password_field :password, class: 'form-control', :placeholder => "6文字以上" %>

          <%= f.label :password_confirmation, "パスワード(確認)" %>
          <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "6文字以上" %>

          <%= f.submit "登録", class: "btn btn-signup" %>
        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $('#user_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('許容ファイルサイズは5MBまでです。 他のファイルを選択してください');
    }
  });
</script>
