<div class="post-show">
  <% if @post.picture? %>
    <%= image_tag @post.picture.url, class: "img-responsive center-block show-img" %>
  <% else %>
    <img class="img-responsive center-block show-img" src="/image.png">
  <% end %>
  <div class="row col-lg-12">
    <ul class="list-inline-overview">
    <li class="list-inline-item post-name"><%= @post.name %>
    <li class="list-inline-item sns-link">
      <%= link_to "https://twitter.com/share?url=https://reviewees2.herokuapp.com/posts/#{@post.id}&text=#{@post.name}",
      rel: 'nofollow', target: '_blank' do %>
      <button class="icon">
        <i class="fab fa-twitter fa-lg"></i>
      </button>
      <% end %>
      <%= link_to "https://www.facebook.com/share.php?u=https://reviewees2.herokuapp.com/posts/#{@post.id}", target: '_blank' do %>
      <button class="icon">
        <i class="fab fa-facebook-f fa-lg"></i>
      </button>
      <% end %>
      <button class="icon">
        <%= render 'likes/post_like', locals: { post: @post, likes: @likes }, class: "heart-size", id: "like" %>
      </button>
    </li>
  </div>

  <div class="row col-lg-12">
    <ul class="list-inline-overview">
      <% reviews = Review.where(post_id: @post) %>
      <ul class="list-inline">
      <% if reviews.present? %>
        <% avg_review = reviews.average(:rating).round(1) %>
        <li class="star-rating-read list-inline-item" data-score= <%= avg_review %> >
        <li class="list-inline-item avg-rate"><%= avg_review %>
      <% else %>
        <li class="star-rating-read list-inline-item">
      <% end %>
    <li class="list-inline-item heart-count">
      <i class="fas fa-heart heart-on fa-lg"></i>
      <%= @post.likes.count %>
    </li>
    <li class="list-inline-item">
      <i class="fas fa-comment-dots fa-lg comment-icon"></i>
      <%= @post.reviews.count %>
    </li>
    <h4 class="row text-left">
      <%= link_to @post.category, method: :get do %>
        <span class="badge badge-pill badge-light-main">
          メインカテゴリー： <%= @post.category.name %>
        </span>
      <% end %>
    </h4>
    <h4 class="row text-left">
      <%= link_to @post.child_category, method: :get do %>
        <span class="badge badge-pill badge-light-sub">
          サブカテゴリー： <%= @post.child_category.name %>
        </span>
      <% end %>
    </h4>
    <div class="row line"></div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-xs-8 col-lg-offset-1 col-xs-offset-2">
      <h4 class="center"><%= @post.content %></h4>
    </div>
  </div>
</div>
<!-- 削除・編集ボタン -->
<div class="row">
  <h4 class="center">
    <% if logged_in? && current_user.admin? %>
      <%= link_to "編集する", edit_post_path, class: "btn btn-edit" %>
      <%= link_to "削除する", post_path, method: :delete,
                                    data: { confirm: "この投稿を削除します。本当によろしいですか？" },
                                    class: "btn btn-delete" %>
    <% end %>
  </h4>
</div>
