  <div class="col-lg-12 col-lg-offset-4">
    <div class="row">
      <div class="col-lg-1">
        <% if review.user.image? %>
          <%= image_tag review.user.image.url, class: "post-user-picture" %>
        <% else %>
          <img class="post-user-picture" src="/no_image.jpeg">
        <% end %>
      </div>
      <div class="col-lg-10 user-review-detail">
        <h4 class="text-left" style="font-weight: bold;">
          <%= link_to review.post.name, post_path(review.post) %>/
          <%= link_to review.title, post_path(review.post) %>
        </h4>
        <h4 class="text-left"><%= review.content %></h4>
        <div class="row pull-left">
          <div class="col-lg-4">
            <h5 class="text-muted"><%= review.created_at.strftime('%Y/%m/%d') %></h5>
          </div>
          <div class="col-lg-7">
            <h5 class="star-rating" data-score= <%= review.rating %> ></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
