<div class="col-lg-1 col-lg-offset-1 sidebar-img">
  <% if post.picture? %>
    <%= image_tag post.picture.url, class: "img-responsive" %>
  <% else %>
    <img class="img-responsive" src="/image.png">
  <% end %>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="sidebar-title">
      <h4 style="font-weight: bold;">
        <%= link_to post.name, post_path(post) %>
      </h4>
    </div>
    <div class="favorite-items-review">
      <h5>
        <ul class="list-inline">
        <li class="star-rating-read list-inline-item" data-score= <%= @avg_review %> >
        <li class="list-inline-item avg-rate"><%= @avg_review %>
        <li class="list-inline-item">
          <i class="fas fa-comment-dots comment-icon"></i>
          <%= post.reviews.count %>
        </li>
        <h5>
          <span class="badge badge-pill badge-light-category"><%= post.category.name %>・<%= post.child_category.name %></span>
        </h5>
      </h5>
    </div>
    <h5 class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></h5>
  </div>
</div>
