<div class="col-lg-6">
  <div class="card">
    <div class="underline-image">
      <% if post.picture? %>
        <%= image_tag post.picture.url, class: "card-img-top"%>
      <% else %>
        <img class="card-img-top" src="/image.png">
      <% end %>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= link_to post.name, post_path(post) %></h4>
      <h5>
        <span class="badge badge-pill badge-light-category">
          <%= post.child_category.name %>
        </span>
      </h5>
    </div>
    <div class="row center">
      <!-- いつの日かリファクタリングする -->
      <% reviews = Review.where(post_id: post.id) %>
      <ul class="list-inline">
      <% if reviews.present? %>
        <% avg_review = reviews.average(:rating).round(1) %>
        <li class="star-rating-read list-inline-item" data-score= <%= avg_review %> >
      <% else %>
        <li class="star-rating-read list-inline-item">
      <% end %>
      <li class="list-inline-item">
        <i class="fas fa-heart heart-on fa-lg"></i>
        <%= post.likes.count %>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-comment-dots comment-icon"></i>
        <%= post.reviews.count %>
      </li>
    </div>
    <h5 class="text-muted card-text"><%= post.created_at.strftime('%Y/%m/%d') %></h5>
  </div>
</div>
