<% provide(:title, "新規投稿") %>
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <h1>お気に入りの日用品を投稿</h1>
      </div>
      <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :商品名 %><span class="badge badge-danger">必須</span>
        <%= f.text_field :name, class: 'form-control', :placeholder => "例）キレイキレイ" %>

        <%= f.label :メインカテゴリー %><span class="badge badge-danger">必須</span>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name),
        {:include_blank => "一つ選んでください"}, id: 'category_id' %>

        <%= f.label :サブカテゴリ― %><span class="badge badge-danger">必須</span>
        <%= f.select :child_category_id, options_from_collection_for_select(ChildCategory.all, :id, :name),
        {:include_blank => "一つ選んでください"}, id: 'child_category_id' %>

        <%= f.label :感想 %><span class="badge badge-danger">必須</span>
        <%= f.text_area :content, :placeholder => "250文字以内で感想を書いてください" %>

        <%= f.label :商品の写真 %><span class="badge badge-secondary">任意</span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "image", style: "display:none;", id: "file"%>
        <div class="w-100">
          <label class="btn btn-file-upload" for="file"><i class="fas fa-plus fa-lg"></i><i class="far fa-images fa-2x"></i>
        </div>
        <div class="row prev-image center">
          <% if @post.picture.present? %>
            <%= image_tag @post.image, id: :img_prev, class: 'prev-image' %>
          <% else %>
            <%= image_tag "/image.png", id: :img_prev, class: 'prev-image' %>
          <% end %>
        </div>

        <%= f.submit "投稿", class: "btn btn-signup" %>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
    $('#category_id').change(function() {
      $.ajax({
        url: 'get_category_children',
        data: { category_id: $('#category_id').has('option:selected').val() }
      });
    });
  });
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
  $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
      }
    }
  $("#file").change(function(){
      readURL(this);
    });
  });
  </script>
