<% provide(:title, @post.name) %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= render 'shared/overview' %>
      <!-- 写真 -->
        <%= render 'shared/photo' %>
      <!-- レビュー -->
        <%= render 'shared/review' %>
      </div>

    <!-- カテゴリー(人気) -->
    <div class="col-lg-5">
      <div class="row">
        <h2 class="topic-name col-lg-offset-2">このカテゴリーの人気商品</h2>
      </div>
      <div class="col-lg-1 product-img-right">
        <img class="img-responsive" src="/image.png">
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="favorite-items-title">
            <h4 style="font-weight: bold;"><%= @post.name %></h4>
          </div>
          <div class="favorite-items-review">
            <h5>★★★★☆</h5>
          </div>
          <h5 class="text-muted"><%= @post.created_at.strftime('%Y/%m/%d') %></h5>
        </div>
      </div>
      <div class="col-lg-1 product-img-right">
        <img class="img-responsive" src="/image.png">
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="favorite-items-title">
            <h4 style="font-weight: bold;"><%= @post.name %></h4>
          </div>
          <div class="favorite-items-review">
            <h5>★★★★☆</h5>
          </div>
          <h5 class="text-muted"><%= @post.created_at.strftime('%Y/%m/%d') %></h5>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
