<div class="w-100">
  <div class="col-lg-1 col-lg-offset-1 post-reviewes">
    <% if review.user.image? %>
    <div class="post-user-picture">
      <%= link_to image_tag(review.user.image), user_path(review.user) %>
    </div>
    <% else %>
      <img class="post-user-picture" src="/no_image.jpeg">
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-1 review-detail">
      <h4 style="font-weight: bold;"><%= review.title %></h4>
      <h5><%= review.content %></h5>
      <div class="star-rating-read" data-score= <%= review.rating %> ></div>
      <h5 class="text-muted">
        <%= review.created_at.strftime('%Y/%m/%d') %>
        <div class="col-lg-offset-3">
          <% if logged_in? && current_user.admin? %>
            <%= link_to "編集", edit_post_review_path(@post, review), class: "btn btn-review-edit btn-xs" %>
            <%= link_to "削除", post_review_path(@post, review), method: :delete,
                                                            data: { confirm: "このレビューを削除します。本当によろしいですか？" },
                                                            class: "btn btn-review-delete btn-xs" %>
          <% end %>
        </div>
      </h5>
    </div>
  </div>
</div>
