<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-menu">
        <i class="fas fa-bars"></i>
      </button>
      <%= link_to "Reviewees", root_path, id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="site-menu">
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to search_path, method: :get do %>
              <i class="fas fa-search fa-lg"></i>
            <% end %>
          </li>
          <li><%= link_to "投稿する", new_post_path %></li>
          <li class="nav-item dropdown">
            <button class="btn btn-dropdown nav-link dropdown-toggle"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アカウント
            </button>
            <div class="dropdown-menu">
              <%= link_to "プロフィール", current_user %>
              <%= link_to "編集", edit_user_path(current_user) %>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </div>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Revieweesについて",   about_path %></li>
          <li><%= link_to "新規登録",   signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
